.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    z-index: 15;
  }
  
  .buttoncarrito {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .button-carrito:hover {
    background-color: #0056b3;
  }
  
  /* Opcional: Estilos para el h5 */
  .navbar h5 {
    margin: 0;
    font-size: 16px;
  }
  .navbar span {
    font-size: xx-large;
    font-weight: bold;
  }
  .modal{
    position: fixed; /* Use fixed positioning for a truly centered modal */
    top: 50%; /* Set top to 50% */
    left: 50%; /* Set left to 50% */
    transform: translate(-50%, -50%); /* Center the modal horizontally and vertically */
    width: 600px; /* Adjust width as needed */
    height: 600px; /* Adjust height as needed */
    z-index: 100; /* Ensure modal is above other elements */
    background-color: rgba(236, 236, 236, 0.651);
    display: flex; /* Use flexbox for centering content within the modal */
    flex-direction: row; /* Arrange content vertically */
    align-items: center; /* Center content horizontally */
    
  }
  .finish{
    position: fixed;
    
  }
  .modalBody{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }