
.fooditems {
    display: grid;
    grid-template-columns: repeat(3,1fr);


    
    
  }
  .fooditem{

    grid-column: span 1;
  }
  .formularinputFood{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .btndeletdform{
   

  }
  .btndelet{

    height: 50px;
    color:  white;
    width: 100px;
    padding: 15px;
    background: rgba(175, 8, 8, 0.699) ;

    
  }
  .btndelet:hover{
    background-color: red;
  }
  .link{
    background-color: rgba(10, 158, 17, 0.575);
    width: 65%;
    padding: 10px;
    height: 50px;
    border-radius: 32px;
    color:  white;
    text-align: center;
    text-decoration: none;
    margin: 15px;
  }
  .link:hover{
    background-color: rgba(10, 158, 17, 0.877); ;
  }
@media only screen and (max-width: 800px){
    

  .fooditem{

    grid-column: span 3;
  }
}