.modal{
  position: fixed; /* Use fixed positioning for a truly centered modal */
  top: 50%; /* Set top to 50% */
  left: 50%; /* Set left to 50% */
  transform: translate(-50%, -50%); /* Center the modal horizontally and vertically */
  width: 600px; /* Adjust width as needed */
  height: 600px; /* Adjust height as needed */
  z-index: 100; /* Ensure modal is above other elements */
  background-color: rgba(236, 236, 236, 0.651);
  display: flex; /* Use flexbox for centering content within the modal */
  flex-direction: row; /* Arrange content vertically */
  align-items: center; /* Center content horizontally */
}
.button{
  width: 65px !important;
}
  .container {
    padding: 10;
    display: flex;
    height: 400px;
    width: 400px;
    overflow: hidden;
  }
  .btn {
    width: 50px;
    height: 50px;
  }
  .ordenes {
    color: white;
    display: grid;
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Crea tres columnas de igual tamaño */
    gap: 30px; /* Espacio entre los elementos */
  }
  .btnClose {
    width: 100px;
    height: 100px;
  }
  .white {
    color: w;
  }
  