/* styles.module.css */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .inputTxt {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
    max-width: 400px;
  }
  
  .button {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-align: center;
    
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    text-overflow: ellipsis; /* Añade puntos suspensivos (...) si el texto es demasiado largo */
    display: inline-block; /* Asegura que el botón sea lo suficientemente ancho para su contenido */
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  .button:active  {
    transition: background-color 1.3s;
    background-color: #d9ff00;
  }
  .foodItem {
    flex: 1 1 22%; /* Ajustar el ancho para que haya 4 elementos por fila (100% / 4 = 25%) */
    min-width: 22%; /* Asegura que cada ítem tenga al menos el ancho deseado */
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(173, 216, 230, 0.452); /* Ajustar según necesidad */
    text-align: center; /* Ajustar según necesidad */
  }
  @media (max-width: 768px) {
    .foodItem {
      flex: 1 1 100%; /* Cada ítem ocupará el 100% del ancho del contenedor */
      min-width: 100%; /* Asegura que cada ítem tenga el ancho completo */
    }
  }
  .food{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Ajustar según necesidad */
    align-items: flex-start; /* Ajustar según necesidad */
    gap: 10px; 
    
  }
  .food-item p {
    margin: 0;
  }
  
  .food-item button {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .food-item button:hover {
    background-color: #005bb5;
  }
  